/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header Styles */
.header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.menu li {
  display: inline-block;
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ffcc00;
}

.mobile-menu {
  display: none;
  font-size: 70px;
}

.mobile-menu-list {
  list-style: none;
  padding: 10px;
  background-color: #333;
}

.mobile-menu-list li {
  margin-bottom: 10px;
}

.mobile-menu-list a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.mobile-menu-list a:hover {
  color: #ffcc00;
}

/* Hero Section Styles */
.hero {
  background-image: url('sma.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
}

.hero-content {
  text-align: center;
}

.hero-title {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 24px;
  margin-bottom: 30px;
}

.hero-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffcc00;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.hero-button:hover {
  background-color: #f2b800;
}

/* Section Styles */
.section {
  padding: 40px 0;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.section-kontak {
  font-size: 100;
  text-align: center;
}

.section-description {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  width: 35%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-content {
  margin-bottom: 20px;
}

.card-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  color: #666;
}
/* youtube */
.subscribe {
  height: 100px; 
  color: white; 
  font-weight: lighter; 
  text-align: center; 
  opacity: 90%;
  padding-top: 20px; 
  padding-bottom: 40px;
}

.subscribe a{ 
  border: 1px solid transparent; 
  background: red; 
  color: white; t
  ext-decoration: none; 
  padding: 10px; 
  border-radius: 5px; 
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-text {
  font-size: 14px;
}

.footer-text a {
  color: #ffcc00;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-text a:hover {
  color: #f2b800;
}
